.form-row {
  display: flex;
  gap: 15px;
}

.form-row .form-group {
  flex: 1;
}

.form-group {
  margin-bottom: 0px;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.checkbox-group input[type="checkbox"] {
  width: auto;
  margin-right: 10px;
}

.checkbox-group label {
  font-weight: 400;
  font-size: 0.85rem;
}

.signup-btn {
  width: 100%;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 12px 24px;
  margin: 12px 0 24px;
  border: none;
  border-radius: 5px;
  background-color: #223c4f;
  color: white;
  cursor: pointer;
  transition: all 0.5s;
}

.signup-btn:hover {
  background-color: #0b0e16;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.links span {
  font-size: 0.88rem;
  color: #333;
}

/* Responsive Design */
@media (max-width: 768px) {
  .form-row {
    flex-direction: column;
    gap: 0;
  }
}

@media (max-width: 480px) {
  .right-side h2 {
    font-size: 24px;
  }

  .checkbox-group label {
    font-size: 0.8rem;
  }
}
